@font-face {
  font-family: 'WorkSansBold';
  src: url('./assets/fonts/static/WorkSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSansRegular';
  src: url('./assets/fonts/static/WorkSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSansSemiBold';
  src: url('./assets/fonts/static/WorkSans-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  background-color: hsl(275, 100%, 97%);
}

main {
  background-color: hsl(275, 100%, 97%);
  position: relative;
}

.img_wrapper {
  width: 100%;
}

.img_wrapper img {
  width: 100%;
  display: block;
  object-fit: fill;
}

.faq_wrapper {
  position: relative;
  width: 50%;
  z-index: 10;
  top: -25vh;
  left: 50%;
  transform: translate(-50%, 0%);
  background: hsl(0, 0%, 100%);
  padding: 1.8rem;
  border-radius: 12px;
  margin-bottom: 6rem;
}

.faq_header {
  font-family: 'WorkSansBold';
  display: flex;
  gap: 1rem;
  padding-bottom: 1.8rem;
}

.question {
  padding-block: 1.5rem;
  border-bottom: 1px solid hsl(275, 100%, 97%);
}

.question:last-child {
  border-bottom: none;
}

.question > p {
  font-family: 'WorkSansRegular';
  font-size: 14px;
  color: hsl(292, 16%, 49%);
  line-height: 1.4rem;
}

.question_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.question_title p {
  font-family: 'WorkSansSemiBold';
  transition: all 0.125s linear;
  position: relative;
  z-index: 5;
  transition: all 0.5s ease;
}

.question_title p:hover {
  color: rgb(173,40,235);
  cursor: pointer;
}

.question img:hover {
  cursor: pointer;
}

.question:not(#first) .question_title img[class='minus']{
  display: none;
}

.question[id='first'] .question_title img[class='plus']{
  display: none;
}

.question_answer {
  transition: all 0.5s ease;
  padding-block: 0.5rem;
}

.question_answer:not(#first_answer) {
  display: none;
}

.block {
  display: block;
}

.none {
  display: none;
}

.attribution { 
  background-color: hsl(275, 100%, 97%);
  font-size: 11px; 
  text-align: center; 
  padding: 10px;
}

.attribution a {
  color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 950px) {
  .faq_wrapper {
    width: 90%;
    /* max-width: 95%; */
    margin-top: -30vh;
  }

  
  .faq_header {
    gap: 2rem;
  }

  .faq_wrapper {
    top: 10vh;
  }
}